<h3>Najlepsi zawodnicy</h3>
<br>
<div class="row">
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="https://img.a.transfermarkt.technology/portrait/big/206050-1641810495.jpg?lm=1"  height="300" class="card-img-top" alt=":(">
            <div class="card-body">
              <h5 class="card-title">Paulo Dybala</h5>
              <p class="card-text">Pozycja: Cofnięty napastnik</p>
              <a href="#" class="btn btn-primary">Powrót</a>
            </div>
          </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="https://img.a.transfermarkt.technology/portrait/header/341092-1596098386.jpg?lm=1" height="300" class="card-img-top" alt=":(">
            <div class="card-body">
              <h5 class="card-title">Federico Chiesa</h5>
              <p class="card-text">Pozycja: Prawy napastnik</p>
              <a href="#" class="btn btn-primary">Powrót</a>
            </div>
        </div>
          </div>
          <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img src="https://img.a.transfermarkt.technology/portrait/header/357498-1632225570.jpg?lm=1" height="300" class="card-img-top" alt=":(">
            <div class="card-body">
              <h5 class="card-title">Dusan Vlahovic</h5>
              <p class="card-text">Pozycja: Środkowy napastnik</p>
              <a href="#" class="btn btn-primary">Powrót</a>
            </div>
          </div>
    </div>
  </div>
  <br><br>
  <p class="lh-lg">Juventus jest najbardziej utytułowanym klubem w kraju – ma na koncie trzydzieści sześć oficjalnych tytułów mistrza kraju, trzynaście Pucharów Włoch i osiem Superpucharów Włoch. W rozgrywkach międzynarodowych zespół zwyciężył dwa razy w Lidze Mistrzów, zdobył jeden Puchar Zdobywców Pucharów, a także trzy Puchary UEFA.</p>