<div class="container">
    <div class="row">
      <div class="col"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Juventus_FC_2017_icon_%28black%29.svg/800px-Juventus_FC_2017_icon_%28black%29.svg.png" width="300" height="500" alt=":("></div>
      <div class="col">Włoski profesjonalny klub piłkarski założony 1 listopada 1897 roku jako SC Juventus przez grupę uczniów z liceum Massimo d’Azeglio, grający od 1903 roku w biało-czarnych strojach. Zespół ma siedzibę we Włoszech w Turynie. Często jest przez to niepoprawnie nazywany Juventusem Turyn.</div>
    </div>
  </div>
