<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="home">Strona główna</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="onas">O nas</a>
    </li>
     </ul>

<div class="container px-4">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3 border bg-light">JUVENTUS</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">TURYN</div>
      </div>
    </div>
  </div>     
  <br><br>
<router-outlet></router-outlet>     

